<!DOCTYPE html>
<html>
<head>
<title>Wikipedia</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Nav Bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navbar-brand" href="/wiki"><img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Wikipedia-logo_(inverse).png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/wiki">Home</a></li>
        <li class="active"><a href="/wiki/new">New Article</a></li>
        <li class="active"><a href="/wiki/show">Articles</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- search bar -->
<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="input-group buscador-principal">
        <input name="search_param" value="all" id="search_param" type="hidden">
        <input class="form-control" name="x" placeholder="Search" type="text">
        <div class="input-group-btn search-panel">
          <button type="button" id="search" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span id="search_concept">Category</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
          <li><a href="/wiki/show:id[$1]">Sports</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Coding</a></li>
          <li><a href="#">Restaurants</a></li>
          <li class="divider"></li>
          <li><a href="#">Go on pick one</a></li>
          </ul>
        </div>
        <span class="input-group-btn">
          <button id="searching" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- End search -->

<!-- Header Image -->
<div class="header-image">
  <img src="https://tctechcrunch2011.files.wordpress.com/2010/05/wikipedia1.png" alt="">
</div>
<!-- End header image -->


<!-- Footer -->
<footer id="container-fluid-text-center">
  <p>Made With &#9749</p><br>
  <p>By: Thomas Standing</p>
</footer>
<!-- End Footer -->

</body>
</html>
