<!DOCTYPE html>
<html>
<head>
<title>Wikipedia</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Nav Bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navbar-brand" href="/wiki"><img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Wikipedia-logo_(inverse).png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/wiki">Home</a></li>
        <li class="active"><a href="/wiki/new">New Article</a></li>
        <li class="active"><a href="/wiki/show">Articles</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header Image -->
<div class="header-image">
  <img src="https://tctechcrunch2011.files.wordpress.com/2010/05/wikipedia1.png" alt="">
</div>
<!-- End header image -->

<!-- search bar -->
<div class="container">
  <div class="row">
    <div class="search">
    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
    <button type="submit" class="btn btn-primary btn-sm">Search</button>
    </div>
  </div>
</div>
<!-- End search -->

<!-- Footer -->
<footer id="container-fluid-text-center">
  <p>Made With &#9749</p><br>
  <p>By: Thomas Standing</p>
</footer>
<!-- End Footer -->

</body>
</html>
