<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Wikipedia</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <main>
    <header>
      <h1>My Wiki Homepage</h1>
      <button><a href="/wiki/new">Add a new article</a></button>
      <% wiki.forEach(wiki => { %>
      <div class="content-container">
        <h2><%= wiki.title %></h2>
        <h3><%= wiki.category %></h3>
        <p><%= wiki.content %></p>
        <button><a href="/wiki/<%= wiki.id %>/edit">Edit</a></button>
      </div>
     <% }) %>
    </header>
  </main>
</body>
</html>

