<!DOCTYPE html>
<html>
<head>
<title>Wikipedia</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navbar-brand" href="/wiki"><img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Wikipedia-logo_(inverse).png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/wiki">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Left column -->
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <br><p><a href="/wiki/show">Trending Articles</a></p><br>
    <br><p><a href="/wiki/show">This Weeks Newest</a></p><br>
    <br><p><a href="/wiki/show">Authors Favorites</a></p><br>
</div>
<!-- End left column -->
    <div class="col-sm-8 text-left">
    <h1>Submit an article</h1>
    <section>
        <form action="/wiki" method="POST">
          <label for="wiki[title]">Title:</label><br>
          <input type="text" name="wiki[title]"><br>
          <label for="wiki[category]">Category:</label><br>
          <input type="text" name="wiki[category]"><br>
          <label for="wiki[content]">Content:</label>
          <textarea class="form-control" name="wiki[content]" rows="20" id="markdown"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
<!-- Right column for faux advertsiments -->
 <div class="col-sm-2 sidenav">
  <p>ADS</p>
  <div class="ads">
    <img src="https://media.giphy.com/media/3o7ZeFpK0qqSpsWNsA/giphy.gif" width="180" height="100"><br>
  </div>
  <div class="ads">
    <br><img src="https://media.giphy.com/media/ybUlRXJA8EpS8/giphy.gif" width="180" height="100">
  </div>
  <div class="ads"
    <br><img src="https://s-media-cache-ak0.pinimg.com/564x/b8/a7/55/b8a75594567d7b2f3ebfb0a15da80a65.jpg" height="500" width="180">
  </div>
</div>
<!-- End right column -->
<footer id="container-fluid-text-center">
  <p>Made With &#9749</p><br>
  <p>By: Thomas Standing</p>
</footer>
</body>
</html>

